Supabase data schema.json
{
  "name": "Techwache v1 Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "cb77b768-b2ff-4c44-89d8-a6a6e68edccc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        352,
        256
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "company"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "fbff599c-bffe-4fb5-97c2-55f901fb104c",
      "name": "Get all companies",
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-5"
            },
            {
              "name": "input",
              "value": "=Write a brief summary about {{ $json.name }} \nWhat is the company about. Maximum 200 words."
            },
            {
              "name": "tools[0].type",
              "value": "web_search"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        16
      ],
      "id": "9a9c0c90-0899-45a2-8494-37843b075323",
      "name": "Research per company",
      "credentials": {
        "openAiApi": {
          "id": "2K5e7Mdf6gxFJAE7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "brief_company_snippet",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Get all companies').item.json.id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ ($json.output || [])\n    .find(o => o?.content?.[0]?.text)?.content?.[0]?.text ?? '' }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "=2025-09-05"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        16
      ],
      "id": "d99867f7-851c-47ce-8410-e0a1adf4fe61",
      "name": "Store snippet",
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://myyvsyaodmxhzmddxgip.supabase.co/rest/v1/rpc/get_merged_snippets_for_customer_and_date",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "p_customer_id",
              "value": "={{ $json.customer_id }}"
            },
            {
              "name": "p_day",
              "value": "2025-09-05"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        256
      ],
      "id": "8e9d4531-3ebb-40bc-9681-cd0b0f67425b",
      "name": "Get merged snippets per customer",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://myyvsyaodmxhzmddxgip.supabase.co/rest/v1/rpc/get_distinct_customer_ids",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        256
      ],
      "id": "70cbbb98-826e-4299-a1bc-64eac6cf410f",
      "name": "Get all customers",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "brief_full_customer",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $json.customer_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.day }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.merged_content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        256
      ],
      "id": "31db51c7-f9da-4f92-af96-846f1d771c78",
      "name": "Store full brief",
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://myyvsyaodmxhzmddxgip.supabase.co/rest/v1/rpc/get_customer_briefs_on_date",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "p_day",
              "value": "2025-09-05"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        480
      ],
      "id": "fc7fcf41-202e-436f-90cd-45afcd6f6824",
      "name": "Get customer briefs on date",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "FKDLfuabhIVoSxKc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendHTML": true,
        "subject": "Techwache",
        "htmlContent": "=<!doctype html>\n<html lang=\"de\">\n  <body style=\"margin:0;padding:0;background:#f6f7fb\">\n    <div style=\"padding:24px;\">\n      <div style=\"max-width:640px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;\">\n        <div style=\"padding:24px 28px;font:700 18px/1.3 system-ui\">Techwache – Weekly Competitive Brief</div>\n        <div style=\"padding:0 28px 16px;color:#4a4a4a;font:14px/1.6 system-ui\">\n          <div style=\"white-space:pre-wrap;word-break:break-word;\">\n            {{$json.customer_brief}}\n          </div>\n        </div>\n        <div style=\"padding:20px 28px 28px;color:#6b7280;font:12px/1.6 system-ui;border-top:1px solid #eee\"><a href=\"/unsubscribe\">Abmelden</a>\n        </div>\n      </div>\n    </div>\n  </body>\n</html>\n",
        "sender": "soerenweber.pm@gmail.com",
        "receipients": "={{ $json.customer_email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        832,
        480
      ],
      "id": "3c22d9ad-8af3-4903-af41-61cc1739d1d0",
      "name": "Send a transactional email",
      "credentials": {
        "sendInBlueApi": {
          "id": "GcvrxgV7FuBH5FVG",
          "name": "Brevo account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get customer briefs on date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all companies": {
      "main": [
        [
          {
            "node": "Research per company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research per company": {
      "main": [
        [
          {
            "node": "Store snippet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store snippet": {
      "main": [
        []
      ]
    },
    "Get merged snippets per customer": {
      "main": [
        [
          {
            "node": "Store full brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all customers": {
      "main": [
        [
          {
            "node": "Get merged snippets per customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer briefs on date": {
      "main": [
        [
          {
            "node": "Send a transactional email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9b7d737-5be3-4eed-8f4f-f2cef542cbc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec0897392b6736def45a7090b53aa8555a94ddf76eeb63571f31c413d5066a20"
  },
  "id": "aPHWb9giETmYyrgW",
  "tags": []
}